@charset "UTF-8";
 

 

.body {
	font-size: 1rem;
    line-height: 1.5rem;
}

p, li{
	font-size: 1rem;
	font-weight: bold;
}

#mainNav .navbar-brand{
	font-size: 1.1rem;
	font-weight: bold;
}

#mainNav .nav-link{
	font-size: 1.1rem; 
	font-weight: bold;
}

h2, .h2 {
	font-size: 2.5rem;
	font-weight: bold;
}

h4, .h4{
	font-size: 2rem;
	font-weight: bold;
}

@media (min-width: 992px) {
	#mainNav .navbar-brand {
	  padding: 0.5rem 0;
	  color: rgba(255, 255, 255);
	}
  }

  @media (min-width: 992px) {
	#mainNav .nav-link:hover {
	  color: rgba(255, 255, 255, 1);
	}
  }
  @media (min-width: 992px) {
	#mainNav .nav-link {
	  transition: none;
	  padding: 2rem 1.5rem;
	  color: rgba(255, 255, 255, 1);
	}
  }

 

.masthead {
	background:inherit;
	/*background-color: #d31421;*/

	
	/*background: linear-gradient(#e74c3c, #c0392b);*/

	/*
	#e74c3c (부드러운 빨강, 토마토 색 느낌)
	#ff6b6b (살짝 연한 코랄 레드)
	#c0392b (딥 레드, 덜 자극적이면서 고급스러운 느낌)
	#D4A5A5 (더스티 로즈)
	#895558 (디폴트 레드)
	*/

	/*background: linear-gradient(to bottom, rgba(137, 85, 88, 0.7) 0%, rgba(137, 85, 88, 0.9) 75%, #000 100%)*/

	/*#e74c3c, #d31421*/
	background: linear-gradient(to bottom, rgba(231, 76, 60, 0.9) 0%, rgba(211, 20, 33, 0.9) 50%, #000 100%);
	background-size: cover;
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.15;
  }
  
.bg-video__content {
	height: 100%;
	width: 100%;
	object-fit: cover; 
}


.preWrap{ 
	white-space: pre-wrap;
}

.text-strong{
	font-size: 3rem;
}

.strong{
	font-size: 1.5rem; 
}

.tying{
	color : white;
	font-weight: bold;
	display:inline; 
	word-wrap: break-word;
	white-space: pre-wrap;
}

.accordion-body a{
	word-wrap: break-word;
	white-space: pre-wrap;
}

.blink{
	animation: blink 1s infinite;
	display:inline; 
}

.text-container {
	position: relative;
	font-weight: bold; 
	color: white;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transform: translateY(-200px) scale(1.5);
	font-size: 10vw;
}

.letter{
	position:absolute;
	text-align: left;
	top: 0px; 
	left: 0px;
	width: 80vw;
	font-size : 30px;
}

.main_bg{
	margin-left: 0px;
	width: 100%;	
}


.fade-in-image {
	opacity: 0; /* 초기 투명 상태 */
	transform: scale(0.9); /* 살짝 축소된 상태 */
	animation: fadeIn 4s ease-out forwards;
}

.submitButton{ 
	--bs-btn-padding-y: .25rem; 
	--bs-btn-padding-x: .5rem;  
	--bs-btn-font-size: .75rem;
	padding: 10px;
}

 

@media(min-width:0px){ 
 
	
	.letter { 
		top: -50px;
		left: 20px;
	}
	 
	.masthead{
		padding-bottom: 25px;
	} 
}
 
@media(min-width:576px){ 
	 
	.letter { 
		top: -50px;
		left: 20px;
	}
	 

	.masthead{
		padding-bottom: 30px;
	}
	 
} 

@media(min-width:768px){ 
	.letter{
		top: 0%;
		left: 5%;
	} 
	 
	.masthead{
		padding-bottom: 40px;
	}
}

@media(min-width:992px){ 


	.body {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}
	
	p, li{
		font-size: 1.1rem;
		font-weight: bold;
	}

	.letter{
		top: 50%; 
		left: 0%;
	} 
	.main_bg{
		margin-left: 200px;  
	}
}

 
@media(min-width:1200px){ 

	#mainNav .navbar-brand{
		font-size: 1.5rem;
		font-weight: bold;
	}

	.letter {
		top: 40%; 
		left: 0%;
		width: 600px;
	} 
	.main_bg {
		margin-left: 530px; 
		width: 900px;
	}
}
 

.icon{
	width : 40px;
	height: 40px;
	border-radius:50%;
	margin-right : 20px;
	filter: grayscale(100%);
}

.effect {
	font-family: sans-serif; 
	animation: fall 1s cubic-bezier(0.3, 1.5, 0.3, 1) forwards
} 

.about-section, .allocation-section, .projects-section{
	padding: 5rem 0;
	background: #a16468;
	z-index: 2;
}


.about-section .form-address div{
	margin-bottom: 10px;
}

.about-section p {
    margin-bottom: 0px; 
}


.allocation-section{
	background-color: #fcf5f3;
}

.allocation-section p{
	text-align: left;
}


.allocation-section canvas{
	margin-bottom: 30px;
}


.allocation_distribution-video {
	position: static; 
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	 
}
  

.form-address p{
	color: #cecece;
}



.faq-section{
	padding: 10rem 0;
    background: #64a19d;
}

.accordion-body{
	text-align: left;
}

.pull-right{
	float: right;
}

.icon_img{
	width: 16px;
}

.sns_img{
	width: 120px;
	vertical-align: -.125em;
}

.sns_text{
	 position: relative;
	 display: block;
	 top: 0px;
	 left: 0px;
	 z-index: 1;
	 margin-bottom: 20px;
}


.sns_icon{
	margin-right: 3px;
}


.img-fluid{
	width: 612px; 
}

.strong{
	font-weight: bold;
}

.accordion-button{
	font-weight: bold;
}

.btn-xs{
	padding: 0.4rem 0.5rem;
}

.faq-section h4{
	font-weight: 800;
	text-align: left;
}
.faq-section p{
	text-align: left;
}

.primary{
	color: #64a19d;
	font-weight: bold;
}

.info{
	color: #1cabc4;
	font-weight: bold;
}


#othercompetitors{
	padding-bottom: 50px;
}


.bottom-img{
	display: flex;
    align-items: flex-end; /* 이미지 하단 정렬 */
    justify-content: space-between; /* 이미지 간 간격 */
}

.subpic{
	position: relative;
	margin: 2px;
}

.img-fluid{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.img-fluid:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.01);  
	z-index: 1;
}

.imgcoin{
	width: 306px;
	border-radius: 50%;
	border: 2px solid #a67c00;
} 

.img_xs{
	width: 80px;
	height: 80px;
} 

.img_arrow_xs{
	width: 60px;
} 

.img-text{
	position: absolute;
	top: calc(100% - 80px);
	left: 0px;
	z-index: 1;
	color: white;
	font-size: 14px;
	width: 100%;
	height: 80px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}



.bottom-text{
	top: calc(80% - 80px);
}


.fs-copyclip_wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    background-color: #fff;
    border-radius: 10px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    place-items: center start;
    padding: 1rem;
	word-break: break-all;
    position: relative;
}


.fs-copyclip_wrapper p{
	color: #000;
}


.layerpop {
    display: none;
    z-index: 1000;
    border: 2px solid #ccc;   
	width: 100%;
    /*cursor: move; */
	/*background-color: #3eb0ce; */
	background-image: url('../assets/event/airdrop_banner.png');
}
 

.layerpop_area .layerpop_close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
	color: #fff;
}

.layerpop_area .layerpop_close:hover {
    cursor: pointer; 
}

.layerpop_area .layerbox_content {
    width: 96%;    
    margin-top:0px;
	text-align: center;
    color: #fff;
}

.layerpop_area .layerbox_text{
	font-size: 2em;
	font-weight: bold;
}


.layerpop_area .layerbox_text_small{
	font-size: 0.7em;
	font-weight: normal;
}


 

@keyframes blink {
  to {
	opacity: 0;
  }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}

@keyframes fall {
	0% {
		opacity: 0;
		transform: translateY(-200px) scale(2);
	}
	50% {
		opacity: 1;
	}
	80% {
		transform: translateY(0) scale(1);
	}
	90% {
		transform: translateY(-10px) scale(1.05);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}


 